{% extends 'base.html' %}

{% block content %}
    {% load i18n crispy_forms_tags %}

    <div class="align-self-center my-auto px-2 col-12 col-lg-6">
        <h1 class="mb-3 text-capitalize">{% trans "login" %} <i class="fa-solid fa-right-to-bracket"></i></h1>

        <form action="{% url 'users:login' %}" method="POST">
            {% csrf_token %}
            {{ form|crispy }}

            <div class="mt-4 d-flex justify-content-center  align-items-center gap-2">
                <button class="btn btn-custom-primary" type="submit">{% trans 'login' %}</button>
                <a type="button" class="text-muted text-capitalize"
                   href="{% url 'users:register' %}">
                    {% trans 'register' %}
                </a>
            </div>
        </form>
    </div>
{% endblock %}
