{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="content-pad-top container px-4 px-lg-5">
	<div class="row gx-4 gx-lg-5 justify-content-center">
		<div class="col-md-10 col-lg-8 col-xl-7">
			<h1>登入 <i class="fa-solid fa-right-to-bracket"></i></h1>
		</div>
	</div>
        <div class="row gx-4 gx-lg-5 justify-content-center pt-3">
                <div class="col-md-10 col-lg-8 col-xl-7">
			<form action="{% url 'users:login' %}" method="POST">
				{% csrf_token %}
				{{ form|crispy }}
				
				<div class="container text-center">
					<a type="button" class="btn btn-success" href="{% url 'users:register' %}">註冊</a>
					<button class="btn btn-success" type="submit">登入</button>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock  %}    
