<!-- profile -->
{% extends 'base.html' %}

{% block content %}
    {% load i18n crispy_forms_tags %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}

    <div class="align-self-center my-auto px-2 col-12 col-lg-6">
        <h1 class="mb-3 text-capitalize">{% trans 'profile' %} <i class="fa-solid fa-circle-user"></i></h1>

        <div class="mb-3">
            <p class="text-capitalize">{% trans 'username' %}</p>
            <p>{{ request.user.username }}</p>
        </div>

        <form action="{% url 'users:edit-profile' %}" method="post">
            {% csrf_token %}
            {{ profile_update_form|crispy }}

            <div class="d-flex justify-content-center mt-4 gap-2">
                <button class="btn btn-custom-primary text-capitalize" type="submit">{% trans 'save' %}</button>
                <button id="resetPwdbtn" class="btn btn-secondary text-capitalize" type="button" data-bs-toggle="modal"
                        data-bs-target="#resetPwd">
                    {% trans 'reset password' %}
                </button>
                <button class="btn btn-danger text-capitalize" type="button" data-bs-toggle="modal"
                        data-bs-target="#disabledAcc">
                    {% trans 'disable account' %}
                </button>
            </div>
        </form>
    </div>

    <!-- Disable Account Modal -->
    <div class="modal fade" id="disabledAcc" tabindex="-1" aria-labelledby="disabledAccLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title fs-5 text-capitalize" id="disabledAccLabel">
                        {% trans 'disable account' %}
                    </p>

                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <p>{% trans 'Please confirm to disable account.' %}</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        {% trans 'cancel' %}
                    </button>

                    <form method="post" action="{% url 'users:delete' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">{% trans 'delete' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Reset Password Modal -->
    <div class="modal fade" id="resetPwd" tabindex="-1" aria-labelledby="resetPwdLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title fs-5 text-capitalize" id="resetPwdLabel">{% trans 'reset password' %}</p>

                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>

                <form method="post" action="{% url 'users:reset-password' %}">
                    <div class="modal-body">
                        {% csrf_token %}
                        {{ reset_password_form|crispy }}
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary text-capitalize" data-bs-dismiss="modal">
                            {% trans 'cancel' %}
                        </button>
                        <button type="submit" class="btn btn-custom-primary">{% trans 'confirm' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block script %}
    <script type="application/javascript">
        var url = location.href
        if (url.includes('#reset-password')){
            document.getElementById("resetPwdbtn").click();
        } 
    </script>
{% endblock %}