{% extends 'base.html' %}

{% block content %}
    {% load i18n crispy_forms_tags %}

    <div class="align-self-center my-auto px-2 col-12 col-lg-6">
        <h1 class="mb-3 text-capitalize">{% trans 'register' %} <i class="fa-solid fa-user-plus"></i></h1>

        <form action="{% url 'users:register' %}" method="POST">
            {% csrf_token %}
	    {{ form|crispy }}

            <div class="mt-4 d-flex justify-content-center">
                <button class="btn btn-custom-primary text-capitalize" type="submit">
                    {% trans 'register' %}
                </button>
            </div>
        </form>
    </div>
{% endblock %}

{% block script %}
<script type="application/javascript">
        var email = document.querySelector('input[type="email"]');
	email.setAttribute(
    	"pattern",
		/[^\u4e00-\u9fa5\uFF01-\uFF5E]+@[^\u4e00-\u9fa5\uFF01-\uFF5E]+\.[^\u4e00-\u9fa5\uFF01-\uFF5E]+/g
  	)
	email.setAttribute("maxlength", "254")
        email.oninvalid = function(e) {
		e.target.setCustomValidity("");
                if (!e.target.validity.valid) {
                        if (e.target.value.length == 0) {
                                e.target.setCustomValidity("請填寫此欄位。");
                        }else if(e.target.value.search(/[\u4e00-\u9fa5]/g) >= 0 || e.target.value.search("xn--") >= 0){
                                e.target.setCustomValidity("請移除中文字。");
                        }else if(e.target.value.search(/[\uFF01-\uFF5E]/g) >= 0){
                                e.target.setCustomValidity("請移除全形字母。");
                        }else if (e.target.validity.tooLong){
                                e.target.setCustomValidity("超過最大長度限制，請重新輸入。")
                        }else {
                                e.target.setCustomValidity("請輸入有效的信箱");
                        }
                }
        };
</script>
{% endblock %}
