{% extends 'base.html' %}

{% block content %}
    {% load crispy_forms_tags %}

    <div class="flex-fill d-flex justify-content-center align-items-center">
        <div class="w-100 row">
            <div class="col-12 col-lg-6">
                <h1 class="mb-3">註冊 <i class="fa-solid fa-user-plus"></i></h1>

                <form action="{% url 'users:register' %}" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}

                    <div class="mt-4 d-flex justify-content-center">
                        <button class="btn btn-custom-primary" type="submit">註冊</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
