<!--list user accounts -->
{% extends 'base.html' %}

{% block content %}
    {% load i18n crispy_forms_tags %}

    <div class="container px-2">
        <h1 class="text-center text-capitalize mb-4">{% trans 'user list' %}</h1>

        <div class="mb-2 d-flex justify-content-between">
            <p class="fs-2 mb-0 text-capitalize">{% trans 'admin' %}</p>

            <button class="btn btn-custom-primary text-capitalize" data-bs-toggle="collapse"
                    data-bs-target="#create_admin_form"
                    aria-expanded="false" aria-controls="create_admin_form">
                <i class="fa-solid fa-user-plus"></i> {% trans 'create admin' %}
            </button>
        </div>

        <div class="collapse mb-2" id="create_admin_form">
            <form action="{% url 'users:create' %}" method="POST">
                {% csrf_token %}
                {{ form|crispy }}

                <div class="d-flex justify-content-center">
                    <button class="btn btn-custom-primary text-capitalize" type="submit">{% trans 'create' %}</button>
                </div>
            </form>
        </div>

        <div class="table-responsive overflow-hidden">
            <table class="table table-hover align-middle mb-4">
                <thead>
                <tr>
                    <th scope="col" class="text-capitalize">{% trans 'username' %}</th>
                    <th scope="col" class="text-capitalize">{% trans 'full name' %}</th>
                    <th scope="col" class="text-capitalize">{% trans 'email address' %}</th>
                    <th scope="col" class="text-capitalize">{% trans 'status' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for user in object_list %}
                    {% if user.is_superuser %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.get_full_name }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                <form method="post" action="{% url 'users:toggle-status' pk=user.pk %}">
                                    {% csrf_token %}
                                    <button class="btn btn-link" type="submit">
                                        {% if user.is_active %}
                                            <span class="badge rounded-pill bg-custom-primary text-capitalize">{% trans 'active' %}</span>
                                        {% else %}
                                            <span class="badge rounded-pill bg-danger text-capitalize">{% trans 'disable' %}</span>
                                        {% endif %}
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>

        <p class="mb-2 fs-2" class="text-capitalize">{% trans 'user' %}</p>

        <div class="table-responsive">
            <table class="table table-hover align-middle">
                <thead>
                <tr>
                    <th scope="col" class="text-capitalize">{% trans 'username' %}</th>
                    <th scope="col" class="text-capitalize">{% trans 'full name' %}</th>
                    <th scope="col" class="text-capitalize">{% trans 'email address' %}</th>
                    <th scope="col" class="text-capitalize">{% trans 'status' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for user in object_list %}
                    {% if not user.is_superuser %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.get_full_name }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                <form method="post" action="{% url 'users:toggle-status' pk=user.pk %}">
                                    {% csrf_token %}
                                    <button class="btn btn-link" type="submit">
                                        {% if user.is_active %}
                                            <span class="badge rounded-pill bg-custom-primary text-capitalize">{% trans 'active' %}</span>
                                        {% else %}
                                            <span class="badge rounded-pill bg-danger text-capitalize">{% trans 'disable' %}</span>
                                        {% endif %}
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
