<!--list  user accounts -->
{% extends 'base.html' %}

{% block content %}
			
<div class="content-pad-top container px-4 px-lg-5">
	<div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
			<h1 class="text-center">帳號列表</h1>
		</div>
	</div>
        <div class="row gx-4 gx-lg-5 justify-content-center pt-3">
                <div class="col-md-10 col-lg-8 col-xl-7 shadow-sm">
			<div class="mb-3 row justify-content-between border-bottom border-secondary">
				<div class="col-auto me-auto">
					<p class="fs-2">管理員</p>
				</div>
				<div class="col-auto">
					<button class="btn btn-success" data-bs-toggle="collapse" data-bs-target="#create_admin_form" aria-expanded="false" aria-controls="create_admin_form">
						<i class="fa-solid fa-user-plus"></i>
					</button>
				</div>
			</div>
			{% include 'user_create_form.html' %}
			<div class="mb-3 row">
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">使用者名稱</th>
							<th scope="col">姓名</th>
							<th scope="col">電子信箱</th>
							<th scope="col">狀態</th>
						</tr>
					</thead>
					<tbody>
					{% for user in object_list  %}
						{% if user.is_superuser %}
							<tr>
								<td>{{ user.username }}</td>
								<td>{{ user.last_name }}{{user.first_name}}</td>
								<td>{{ user.email }}</td>
								<form method="post" action="{% url 'users:toggle-status' pk=user.pk %}">
									{% csrf_token %}
									<td><button class="btn btn-link" type="submit">{% if user.is_active %}
									<span class="badge rounded-pill bg-success">Active</span>{% endif %}
									{% if not user.is_active %}
									<span class="badge rounded-pill bg-danger">Disable</span>{% endif %}
									</button></td>
								</form>
							</tr>
						{% endif %}
                                	{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row gx-4 gx-lg-5 justify-content-center pt-3">
		<div class="col-md-10 col-lg-8 col-xl-7 shadow-sm">
                        <div class="mb-3 row justify-content-between border-bottom border-secondary">
                                <div class="col-auto me-auto">
                                        <p class="fs-2">使用者</p>
                                </div>
                        </div>
			<div class="mb-3 row">
                                <table class="table table-hover">
                                        <thead>
                                                <tr>
                                                        <th scope="col">使用者名稱</th>
							 <th scope="col">姓名</th>
                                                        <th scope="col">電子信箱</th>
                                                        <th scope="col">狀態</th>
                                                </tr>
                                        </thead>
                                        <tbody>
                                        {% for user in object_list  %}
                                                {% if not user.is_superuser %}
                                                        <tr>
                                                                <td>{{ user.username }}</td>
								<td>{{ user.last_name }}{{user.first_name}}</td>
                                                                <td>{{ user.email }}</td>
								<form method="post" action="{% url 'users:toggle-status' pk=user.pk %}">
									{% csrf_token %}
                                                                        <td><button class="btn btn-link" type="submit">
                                                                {% if user.is_active %}
                                                                        <span class="badge rounded-pill bg-success">Active</span>{% endif %}
									{% if not user.is_active %}
                                                                        <span class="badge rounded-pill bg-danger">Disable</span>{% endif %}
									</button></td>
								</form>
                                                        </tr>
                                                {% endif %}
                                        {% endfor %}
                                        </tbody>
                                </table>
                        </div>
		</div>
	</div>
</div>

{% endblock  %}
