{% extends 'base.html' %}

{% block content %}
<section class="py-5 text-center container">
    <div >
        <form class="d-flex">
          <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-primary" type="submit">Search</button>
        </form>
  
      </div>
  </section>

  <div class="album py-5  ">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for movie in object_list %}
        
 
            
            <div class="col">
                <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/>
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                </svg>

                <div class="card-body">
                    <h4><p class="card-text"><a href="{% url 'movie_detail' movie.id %}">{{ movie.name }}</a></p></h4>
                </div>
                </div>
            </div>
        {% endfor %}
       
      </div>
      
    </div>
  </div>

{% endblock %}
