

{% extends 'base.html' %}

{% block content %}
<div class="content-pad-top container px-4 px-lg-5">

<section class="py-5 text-center container">
    <div >
        <form class="d-flex" method="GET">
          <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search" name="q">
          <button class="btn btn-custom-primary" type="submit">Search</button>
        </form>
  
      </div>
  </section>

  <div class="album py-5  ">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for movie in object_list %}
            
            <div class="col">
                <div class="card shadow-sm">
                  <img src="{{ movie.image.url }}">
                  <div class="card-body">
                      <h4><p class="card-text"><a href="{% url 'movie:detail' movie.id %} " class="text-dark stretched-link"style="text-decoration: none">{{ movie.name }}</a></p></h4>
                  </div>
                </div>
            </div>
        {% empty %}
            <tr><td colspan="6">查無此電影</td></tr>
        {% endfor %}
       
      </div>
      
    </div>
  </div>
</div>
{% endblock %}
