{% extends 'base.html' %}

{% block content %}
<div class="content-pad-top container px-4 px-lg-5">
         <!-- <h1>電影清單(管理者)</h1>
        <form action="{% url 'movie:create' %}"  >
            <button type="submit" class="btn btn-warning">新增</button>
        </form> -->
        <div class="row justify-content-between">
            <div class="col-8 col-sm-8">
                <h1>電影清單(管理者)</h1>
            </div>
            <div class="col-3 col-sm-2">
                <form action="{% url 'movie:create' %}"  style="text-align: right;">
                    <button type="submit" class="btn btn-warning">新增</button>
                </form>
            </div>
          </div>
     <section class="py-5 text-center container">
        <div >
            <form class="d-flex" method="GET">
              <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search" name="q">
              <button class="btn btn-custom-primary" type="submit">Search</button>
            </form>
      
          </div>
      </section>
      

     <table class="table" >
        <thead class="text-center">
          <tr >
            <th scope="col">電影名稱</th>
            <th scope="col">新增時間</th>
            <th scope="col">更新時間</th>
            <th scope="col">修改</th>
            <th scope="col">刪除</th>

          </tr>
        </thead>
        <tbody class="text-center">
            {% for movie in object_list %}
                <tr>
                    <th scope="row">{{movie.name}}</th>
                    <td>{{movie.date_created}}</td>
                    <td>{{movie.date_updated}}</td>
                    <td>
                        <form action="{% url 'movie:edit' movie.id %}">
                            <button type="submit" class="btn btn-secondary">修改</button>
                        </form>
                    </td>
                    <td>
                        <form method="POST" action="{% url 'movie:delete' movie.id %}">{% csrf_token %}
                            <!-- <input type="submit" class="btn btn-danger" value="刪除"> -->
                            <button type="submit" class="btn btn-danger">刪除</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
 
        </tbody>
      </table>

    <!-- {% for movie in object_list %}
        <div>
            {{movie.name}}
            <p>電影新增時間: {{movie.date_created}}</p>
            <p>電影更新時間: {{movie.date_updated}}</p>
            <form action="{% url 'movie:edit' movie.id %}">
                <button type="submit" class="btn btn-warning">修改</button>
            </form>
            <form method="POST" action="{% url 'movie:delete' movie.id %}">{% csrf_token %}
                <input type="submit" class="btn btn-danger" value="刪除">
            </form>
        </div>
        <hr/>
    {% endfor %} -->
</div>
{% endblock %}
