{% extends 'base.html' %}

{% block content %}
<style>
    *{
        margin:0;
        padding: 0 ;
        box-sizing: border-box;
    }

    #check{
        display: none;
    }
    label{
        display: inline-block;
        text-decoration: underline;
        cursor: pointer;
        font-weight: 600;
    }
    #check:checked ~ .content{
        display: block;
    }
    #check:checked ~ label{
        visibility: hidden;    
    }

    #check:checked ~ label:after{   
        content: 'Show Less';
        display: block;
        visibility: visible;
    }

    #check:checked ~ p{
        display:none
         /* visibility:hidden; */
    }
    #check:checked ~ p:after{
    
        visibility:visible;
    }
    .content{
        display: none;
    }
 
    .dropdown-toggle::after {
    display:none;
    }
    
</style>
 
<div class="content-pad-top container px-4 px-lg-5">
 
     <div class="row gx-4 gx-lg-5 justify-content-center">
        
        <div class="col-8 col-md-8 col-lg-6 col-xl-5">
                <h1>{{ movie.name }}  </h1>
        </div>
        <div class="col-1 col-md-1 col-lg-2 col-xl-2">
            <!-- <h1><i class="fa fa-ellipsis-h" aria-hidden="true"></i></h1> -->
            <!-- Example single danger button -->
            <!-- <div class="btn-group">
                <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown"  >
                 <h2><i class="fa fa-ellipsis-h" aria-hidden="true"></i></h2>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="#">                        
                            <form method="POST" action="{% url 'movie:delete' movie.id %}">{% csrf_token %}
                                <button type="submit" style="border: none; background: none; width: 100%; text-align: left;">刪除</button>
                            </form>
                        </a>
                    </li>
                <li>
                    <a class="dropdown-item" href="#">                        
                        <form action="{% url 'movie:edit' movie.id %}">
                            <button type="submit" style="border: none; background: none; width: 100%; text-align: left;">修改</button>
                        </form>
                    </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Separated link</a></li>
                </ul>
            </div> -->
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h4>
                <i class="fa fa-star" style="color:#7DCE94"aria-hidden="true"></i>平均星星:   
 
            </h4>
            
 
        </div>        
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h5><span class="badge rounded-pill text-bg-success"  >{{movie.tag_id.name}}</span> </h5>

        </div>
    </div>

    <div class="row gx-4 gx-lg-5 justify-content-center pt-3">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="mb-3 row justify-content-between  ">
				<div class="col-auto me-auto">
					<p class="fs-4">上映日:  {{movie.date_released}}</p>
				</div>
			</div>
            <div class="mb-3 row justify-content-between  ">
				<div class="col-auto me-auto">
					<p class="fs-4">時長:   {{movie.time}}</p>
				</div>
			</div>
            <div class="mb-3 row justify-content-between  ">
				<div class="col-auto me-auto">
					<p class="fs-4">分級:   {{movie.grade}}</p>
				</div>
			</div>
            <div class="mb-3 row justify-content-between  ">
				<div class="col-auto me-auto">
					<p class="fs-4"><a href='{{movie.official_site}}'class="text-custom-primary">官方網站</a><i class="fa fa-external-link fa-lg " style="color:#7DCE94"aria-hidden="true"></i>
                    </p>
				</div>
			</div>
            <div class="mb-3 row justify-content-between  ">
				<div class="col-auto me-auto">
					<!-- <p>{{movie.content | slice:85}}</p> -->
                    <div class="container">
                        <input type="checkbox" id="check">
                         <p>{{movie.content | slice:85}}...</p>
                        <div class="content">
                            <p>{{movie.content}}</p>
                        </div>
                        <label for="check">Read more</label>
                    </div>
				</div>
			</div>

            <div class="mb-3 row justify-content-between  ">
                <div class="col-8">
                    <p>電影新增時間: {{movie.date_created}}</p>
                    <p>電影更新時間: {{movie.date_updated}}</p>
                </div>
            </div>
            <hr>

            <div>
                <form action="{% url 'review:create' %}" method="POST">{% csrf_token %}
                    <input type="hidden" name="userID" value="{{request.user.id}}" />
                    <input type="hidden" name="movieID" value="{{movie.id}}" />
                    <input name="content" />
                    <select name="rating">
                        <option value='1'> 1 </option>
                        <option value='2'> 2 </option>
                        <option value='3' selected> 3 </option>
                        <option value='4'> 4 </option>
                        <option value='5'> 5 </option>
                    </select>

                    <button type="submit">評論</button>
                    
                </form>
            </div>
            <hr>
            <div>
                {% for review in review_list %}
                        <div>
                            <p>{{review.content}}</p>
                            <p>{{review.rating}}</p>
                            <p>{{review.user.username}}</p>
                            {% if request.user.username == review.user.username %}
                                <form method="POST" action="{% url 'review:delete' review.id %}">{% csrf_token %}
                                    <input type="hidden" name="movieID" value="{{movie.id}}" />
                                    <input type="hidden" name="reviewID" value="{{review.id}}" />
                                    <button type="submit">刪除</button>
                                </form>
                                <form action="{% url 'review:edit' review.id%}" method="POST">{% csrf_token %}
                                    <input type="hidden" name="movieID" value="{{movie.id}}" />
                                    <input type="hidden" name="reviewID" value="{{review.id}}" />
                                    <input name="content" value="{{review.content}}"/>
                                    <select name="rating">
                                        <option value='1'{%if review.rating == 1%}selected{%endif%}> 1 </option>
                                        <option value='2'{%if review.rating == 2%}selected{%endif%}> 2 </option>
                                        <option value='3'{%if review.rating == 3%}selected{%endif%}> 3 </option>
                                        <option value='4'{%if review.rating == 4%}selected{%endif%}> 4 </option>
                                        <option value='5'{%if review.rating == 5%}selected{%endif%}> 5 </option>
                                    </select>
                
                                    <button type="submit">修改</button>
                                    
                                </form>
                            {% endif %}
                            <form method="POST" action="{% url 'review:heart' review.id %}">{% csrf_token %}
                                <input type="hidden" name="movieID" value="{{movie.id}}" />
                                <input type="hidden" name="reviewID" value="{{review.id}}" />
                                <input type="hidden" name="userID" value="{{request.user.id}}" />
                                <input type="checkbox" onchange="this.form.submit();" name="heart" 
                                    {% for heart in heart_list %}
                                        {% if request.user.id == heart.user.id %}
                                            {% if review.id == heart.review.id %}
                                                checked
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                />
                            </form>
                            <hr>
                            
                        </div> 
                {% endfor %}
            </div>
            
 
        </div> 
    </div>
</div>
{% endblock %}