{% extends 'base.html' %}

{% block content %}
<style>
    *{
        margin:0;
        padding: 0 ;
        box-sizing: border-box;
    }

    #check{
        display: none;
    }
    .more{
        display: inline-block;
        text-decoration: underline;
        cursor: pointer;
        font-weight: 600;
    }
    #check:checked ~ .content{
        display: block;
    }
    #check:checked ~ label{
        visibility: hidden;    
    }

    #check:checked ~ label:after{   
        content: 'Show Less';
        display: block;
        visibility: visible;
    }

    #check:checked ~ p{
        display:none
         /* visibility:hidden; */
    }
    #check:checked ~ p:after{
    
        visibility:visible;
    }
    .content{
        display: none;
    }
 
    .dropdown-toggle::after {
    display:none;
    }


 
    
</style>

 
<div class="content-pad-top container px-4 px-lg-5">
 
     <div class="row gx-4 gx-lg-5 justify-content-center">
        
        <div class="col-8 col-md-8 col-lg-6 col-xl-5">
                <h1><b>{{ movie.name }}</b>  </h1>
                
                

        </div>
        <div class="col-1 col-md-1 col-lg-2 col-xl-2">
 
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h4>
                <i class="fa fa-star" style="color:#7DCE94"aria-hidden="true"></i>平均星星:   
                
            </h4>
            
 
        </div>        
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h5><span class="badge rounded-pill text-bg-success"  >{{movie.tag_id.name}}</span> </h5>

        </div>
    </div>

    <div class="row gx-4 gx-lg-5 justify-content-center pt-3">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="mb-3 row justify-content-between  ">
				<div class="col-auto me-auto">
					<p class="fs-4">上映日:  {{movie.date_released}}</p>
				</div>
			</div>
            <div class="mb-3 row justify-content-between  ">
				<div class="col-auto me-auto">
					<p class="fs-4">時長:   {{movie.time}}</p>
				</div>
			</div>
            <div class="mb-3 row justify-content-between  ">
				<div class="col-auto me-auto">
					<p class="fs-4">分級:   {{movie.grade}}</p>
				</div>
			</div>
            <div class="mb-3 row justify-content-between  ">
				<div class="col-auto me-auto">
					<p class="fs-4"><a href='{{movie.official_site}}'class="text-custom-primary">官方網站</a><i class="fa fa-external-link fa-lg " style="color:#7DCE94"aria-hidden="true"></i>
                    </p>
				</div>
			</div>
            <div class="mb-3 row justify-content-between  ">
				<div class="col-auto me-auto">
					<!-- <p>{{movie.content | slice:85}}</p> -->
                    <div class="container">
                        <input type="checkbox" id="check">
                         <p>{{movie.content | slice:85}}...</p>
                        <div class="content">
                            <p>{{movie.content}}</p>
                        </div>
                        <label for="check" class = "more">Read more</label>
                    </div>
				</div>
			</div>

            <hr>
            <!-- 新增評論區塊 -->
            {% if request.user.is_authenticated %}              
                <div class="container">
                    <form action="{% url 'review:create' %}" method="POST">{% csrf_token %}
                        <input type="hidden" name="userID" value="{{request.user.id}}" />
                        <input type="hidden" name="movieID" value="{{movie.id}}" />
                        <div class="row justify-content-start mb-3">
                            <div class="col-2">
                                <h4 class="text-nowrap">評分:</h4>
                            </div>
                            <div class="col-2">
                                <select class="form-select" name="rating">
                                    <option value='5'> 1 </option>
                                    <option value='4'> 2 </option>
                                    <option value='3' selected> 3 </option>
                                    <option value='2'> 4 </option>
                                    <option value='1'> 5 </option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3">
                            <textarea class="form-control"name="content" rows="5" placeholder="請在此輸入您的評論"></textarea>
                        </div>
                        <div class="modal-footer mb-3">
                            <input type="submit" value='新增' class="btn btn-custom-primary"/>
                        </div>
                        
                    </form>
                </div>
            {% endif %}

            <!-- 排序選單 -->
            <div>
                <form class="d-flex" method="GET" name="sort">
                  <select  name="order" onchange="this.form.submit();">
                    <!-- <option> 請選擇 </option> -->
                    <option value='latest' {% if order == 'latest' %}selected{% endif %}> 最新評論 </option>
                    <option value='oldest' {% if order == 'oldest' %}selected{% endif %}> 最舊評論 </option>
                    <option value='heart' {% if order == 'heart' %}selected{% endif %}> 愛心最多 </option>
                  </select>
                </form>
            </div>
            <!-- 評論清單 -->
            {% for review in review_list %}
                <div class="card mb-3">
                    <div class="card-body">
                        <div class=" d-flex justify-content-between">
                            <h5 class="card-title"><b>使用者: {{review.user.username}}</b></h5>
                            <h5 class="card-title">
                                
                                <div class="dropdown" >
                                    <button   style="  border: none;  color: black; background-color:white;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>

                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        {% if request.user.username == review.user.username %}
                                            <li>
                                                <button class="dropdown-item" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                                    修改評論
                                                </button>
                                            </li>
                                            <li>
                                                <form method="POST" action="{% url 'review:delete' review.id %}">{% csrf_token %}
                                                    <input type="hidden" name="movieID" value="{{movie.id}}" />
                                                    <input type="hidden" name="reviewID" value="{{review.id}}" />
                                                    <button  class="dropdown-item" type="submit">刪除</button>
                                                </form>
                                            </li>
                                      {% endif %}
                                      <li><a class="dropdown-item" href="#">檢舉</a></li>
                                    </ul>
                                  </div>
                                
                            </h5>
                            


                            <!-- <h5 class="card-title">愛心數:</h5> -->
                        </div>

                        <div class="d-flex justify-content-between">
                            <p>評論分數: {{review.rating}}/5</p>

                        </div>
                        <div class="d-flex justify-content-between">
                            <p>評論內容: {{review.content}}</p>
                        </div>  
                        <div class="d-flex justify-content-between">
                            <p>獲得愛心數: {{review.heart_number}}</p>  
                        </div> 
                        <!-- 評論星星區塊 -->
                        <div class="  justify-content-between">
                            <i class="fa fa-star" {% if review.rating > 0 %} style="color: rgba(255, 183, 0, 0.916);"  {%endif%} ></i>
                            <i class="fa fa-star" {% if review.rating > 1 %} style="color: rgba(255, 183, 0, 0.916);"  {%endif%} ></i>
                            <i class="fa fa-star" {% if review.rating > 2 %} style="color: rgba(255, 183, 0, 0.916);"  {%endif%} ></i>
                            <i class="fa fa-star" {% if review.rating > 3 %} style="color: rgba(255, 183, 0, 0.916);"  {%endif%} ></i>
                            <i class="fa fa-star" {% if review.rating > 4 %} style="color: rgba(255, 183, 0, 0.916);"  {%endif%} ></i>


                        </div> 
                        
                        

 
                        {% if request.user.username == review.user.username %}

                            <div class="collapse" id="collapseExample">
                                <div class="card card-body">
                                    <form action="{% url 'review:edit' review.id%}" method="POST">{% csrf_token %}
                                        <input type="hidden" name="movieID" value="{{movie.id}}" />
                                        <input type="hidden" name="reviewID" value="{{review.id}}" />
                                        <input name="content" value="{{review.content}}"/>
                                        <select name="rating">
                                            <option value='1'{%if review.rating == 1%}selected{%endif%}> 1 </option>
                                            <option value='2'{%if review.rating == 2%}selected{%endif%}> 2 </option>
                                            <option value='3'{%if review.rating == 3%}selected{%endif%}> 3 </option>
                                            <option value='4'{%if review.rating == 4%}selected{%endif%}> 4 </option>
                                            <option value='5'{%if review.rating == 5%}selected{%endif%}> 5 </option>
                                        </select>
                    
                                        <button type="submit">修改</button>
                                        
                                    </form>                                
                                </div>
                            </div>
                        {% endif %}
                        <div class="d-flex justify-content-between">
                                <!-- 按讚功能 -->
                                <form method="POST" action="{% url 'review:heart' review.id %}">{% csrf_token %}
                                    <input type="hidden" name="movieID" value="{{movie.id}}" />
                                    <input type="hidden" name="reviewID" value="{{review.id}}" />
                                    <input type="hidden" name="userID" value="{{request.user.id}}" />
                                    <input type="checkbox" onchange="this.form.submit();" name="heart" 
                                        {% for heart in heart_list %}
                                            {% if request.user.id == heart.user.id %}
                                                {% if review.id == heart.review.id %}
                                                    checked
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    />
                                </form>
                        </div>    
                    </div>              
                </div>
            {% endfor %}

            
            
 
        </div> 
    </div>
</div>
{% endblock %}