{% extends 'base.html' %}

{% block content %}
    {% load i18n %}

    <div class="container px-2">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="text-capitalize">{% trans 'movie list' %}</h1>

            <a class="btn btn-custom-primary text-capitalize" href="{% url 'movie:create' %}">
                <i class="fa fa-plus" aria-hidden="true"></i> {% trans 'create movie' %}
            </a>
        </div>

        <section class="mb-4">
            <form class="input-group" method="GET">
                <input type="text" name="q" class="form-control" placeholder="{% trans 'Search by name' %}">
                <button class="btn btn-custom-primary text-capitalize" type="submit">
                    {% trans "search" %} <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </form>
        </section>


        <div class="table-responsive">
            <table class="table table-hover align-middle">
                <thead>
                <tr>
                    <th scope="col" class="text-uppercase">{% trans 'id' %}</th>
                    <th scope="col" class="text-capitalize">{% trans 'name' %}</th>
                    <th scope="col" class="text-capitalize">{% trans 'release date' %}</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for movie in object_list %}
                    <tr>
                        <th scope="row">{{ movie.id }}</th>
                        <td>{{ movie.name }}</td>
                        <td>{{ movie.date_released|date:'Y/m/d' }}</td>
                        <td>
                            <div class="d-flex justify-content-end gap-2">
                                <a type="submit" href="{% url 'movie:edit' movie.pk %}"
                                   class="btn btn-secondary text-capitalize">
                                    {% trans 'edit' %}
                                </a>

                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-danger text-capitalize" data-bs-toggle="modal"
                                        data-bs-target="#modal" data-bs-name="{{ movie.name }}"
                                        data-bs-link="{% url 'movie:delete' movie.pk %}">
                                    {% trans 'delete' %}
                                </button>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">{% trans "Sorry, no movies match the condition." %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal" data-bs-backdrop="static"
         data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title fs-5" id="staticBackdropLabel">
                        {% trans 'Confirm to delete' %} <span id="name"></span>?</p>

                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary text-capitalize"
                            data-bs-dismiss="modal">
                        {% trans 'cancel' %}
                    </button>

                    <form method="POST" action="">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger text-capitalize">{% trans 'delete' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="application/javascript">
        const modal = document.getElementById('modal')

        modal.addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget
            const name = button.getAttribute('data-bs-name')
            const action = button.getAttribute('data-bs-link')

            const movieName = modal.querySelector('#name')
            const form = modal.querySelector('form')

            movieName.textContent = name
            form.action = action
        })
    </script>
{% endblock %}
