.btn-login {
    padding: 0.5rem 0.75rem;
    border: 1px solid #4b7a59;
    font-size: 0.75rem;
}

.navbar {
    flex-wrap: nowrap;
    align-items: baseline;
}

.navbar>.container {
    flex-direction: column;
    align-items: flex-start;
}

#login-btn {
    align-items: flex-end;
}

.content-pad-top {
    padding-top: 8rem;
}
