    <!-- Navigation-->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-custom-primary" id="mainNav">
        <div class="container px-4 px-lg-5">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto py-lg-0">
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="#">首頁</a></li>
		    {% if request.user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="#">個人資料</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="#">檢舉清單</a></li>
                    <li class="nav-item">
			    <form method="post" action="{% url 'users:logout' %}">
				    <button class="nav-link px-lg-3 py-3 py-lg-4" type="submit">登出</button>
			    </form>
		    </li>
		    {% endif %}
                </ul>
            </div>


        </div>
	 <div class="container px-4 px-lg-5" id="login-btn">
            <a href="login.html">
		<button class="navbar-brand btn btn-login text-uppercase" type="button" href="{# url 'users:login' #}">
                登入
            	</button>
	    </a>
	</div>
    </nav>

